<div class="container py-2">
    <div class="d-flex justify-content-between">
        <div>
            <img src="../../../assets/fav-logo.png" alt="">
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <div>
                <button class="br0 px-3 mx-2 btn btn-primary">Home</button>
                <button class="br0 px-3 mx-2 btn btn-outline-primary btn-custom">About Us</button>
                <button class="br0 px-3 mx-2 btn btn-outline-primary btn-custom">Departments</button>
                <button class="br0 px-3 mx-2 btn btn-outline-primary btn-custom">Services</button>
                <button class="br0 px-3 mx-2 btn btn-outline-primary btn-custom">Doctors</button>
                <button class="br0 px-3 mx-2 btn btn-outline-primary btn-custom">Blog </button>
                <button class="br0 px-3 mx-2 btn btn-outline-primary btn-custom">Contact Us</button>

            </div>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-outline-primary">Appointment</button>
            <span class="material-symbols-outlined setting-icon px-3">settings</span>
        </div>
    </div>
</div>