<div>
    <div>
        <div>
            <app-header></app-header>
        </div>
        <div>
            <app-hero></app-hero>
        </div>
        <div class="container py-5">
            <div class="text-center mt-4">
                <h3>About Medifab</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean
                     <br> 
                    vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.
                </p>
            </div>
            <div class="d-flex justify-content-between">
                <div class="text-center p-5">
                    <span class="material-symbols-outlined" style="font-size: 60px; color: #00000030;">calendar_month</span>
                    <h4 class="py-3 mb-0">Book an Appointment</h4>
                    <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="text-center p-5">
                    <span class="material-symbols-outlined" style="font-size: 60px; color: #00000030;">stethoscope</span>
                    <h4 class="py-3 mb-0">Book an Appointment</h4>
                    <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="text-center p-5">
                    <span class="material-symbols-outlined" style="font-size: 60px; color: #00000030;">clinical_notes</span>
                    <h4 class="py-3 mb-0">Book an Appointment</h4>
                    <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
        <div class="bg-primary2">
            <div class="container py-5">
                <div class="text-center mt-4">
                    <h3>Meet our Doctors</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean
                        <br> 
                        vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.
                    </p>
                </div>
                <div class="d-flex justify-content-between my-5 mx-5">
                    <div class="text-center p-2">
                        <img src="../../../assets/Doctors/doc1.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p class="mb-0" style="font-size: 16px; font-weight: 500;">Dr. Albert Sandoval</p>
                        <p style="color: #00000070;">Neurologist</p>
                    </div>
                    <div class="text-center p-2">
                        <img src="../../../assets/Doctors/doc2.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p class="mb-0" style="font-size: 16px; font-weight: 500;">Dr. Albert Sandoval</p>
                        <p style="color: #00000070;">Neurologist</p>
                    </div>
                    <div class="text-center p-2">
                        <img src="../../../assets/Doctors/doc3.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p class="mb-0" style="font-size: 16px; font-weight: 500;">Dr. Albert Sandoval</p>
                        <p style="color: #00000070;">Neurologist</p>
                    </div>
                    <div class="text-center p-2">
                        <img src="../../../assets/Doctors/doc4.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p class="mb-0" style="font-size: 16px; font-weight: 500;">Dr. Albert Sandoval</p>
                        <p style="color: #00000070;">Neurologist</p>
                    </div>
                    <div class="text-center p-2">
                        <img src="../../../assets/Doctors/doc5.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p class="mb-0" style="font-size: 16px; font-weight: 500;">Dr. Albert Sandoval</p>
                        <p style="color: #00000070;">Neurologist</p>
                    </div>
                    <div class="text-center p-2">
                        <img src="../../../assets/Doctors/doc6.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p class="mb-0" style="font-size: 16px; font-weight: 500;">Dr. Albert Sandoval</p>
                        <p style="color: #00000070;">Neurologist</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-primary px-4 py-2 br0">See all Doctors</button>
                </div>
            </div>
        </div>
        <div class="container py-5 mb-5">
            <div class="text-center mt-4">
                <h3>Departments</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean
                     <br> 
                    vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.
                </p>
            </div>
            <div>
                <div class="d-flex justify-content-between">
                    <div class="text-center p-3">
                        <span class="material-symbols-outlined border p-3 rounded-circle" style="font-size: 60px; color: #00000030;">dentistry</span>
                        <h4 class="py-3 mb-0">Dentistry</h4>
                        <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="text-center p-3">
                        <span class="material-symbols-outlined border p-3 rounded-circle" style="font-size: 60px; color: #00000030;">neurology</span>
                        <h4 class="py-3 mb-0">Neurology</h4>
                        <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="text-center p-3">
                        <span class="material-symbols-outlined border p-3 rounded-circle" style="font-size: 60px; color: #00000030;">ophthalmology</span>
                        <h4 class="py-3 mb-0">Ophthalmology</h4>
                        <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="text-center p-3">
                        <span class="material-symbols-outlined border p-3 rounded-circle" style="font-size: 60px; color: #00000030;">orthopedics</span>
                        <h4 class="py-3 mb-0">Orthopedics</h4>
                        <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="text-center p-3">
                        <span class="material-symbols-outlined border p-3 rounded-circle" style="font-size: 60px; color: #00000030;">coronavirus</span>
                        <h4 class="py-3 mb-0">Cancer Department</h4>
                        <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="text-center p-3">
                        <span class="material-symbols-outlined border p-3 rounded-circle" style="font-size: 60px; color: #00000030;">Pulmonology</span>
                        <h4 class="py-3 mb-0">Pulmonology</h4>
                        <p style="color: #00000070;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-primary px-4 py-2 br0">See all Departments</button>
            </div>
        </div>
        <div class="bg-primary2">
            <div class="container py-5">
                <div class="text-center mt-4">
                    <h3>Testimonials</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean
                        <br> 
                        vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.
                    </p>
                </div>
                <div class="d-flex justify-content-between my-5">
                    <div class="text-center p-4">
                        <img src="../../../assets/Person/p1.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p style="color: #00000070; font-size: 15px; font-weight: 500;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim.</p>
                        <p class="mb-0" style="color: #000000; font-size: 17px; font-weight: 600;">- Kyle Bowman</p>
                        <p style="color: #00000070; font-size: 15px; font-weight: 500;">Vero Beach, USA</p>
                    </div>
                    <div class="text-center p-4">
                        <img src="../../../assets/Person/p2.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p style="color: #00000070; font-size: 15px; font-weight: 500;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim.</p>
                        <p class="mb-0" style="color: #000000; font-size: 17px; font-weight: 600;">- Kyle Bowman</p>
                        <p style="color: #00000070; font-size: 15px; font-weight: 500;">Vero Beach, USA</p>
                    </div>
                    <div class="text-center p-4">
                        <img src="../../../assets/Person/p3.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                        <p style="color: #00000070; font-size: 15px; font-weight: 500;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim.</p>
                        <p class="mb-0" style="color: #000000; font-size: 17px; font-weight: 600;">- Kyle Bowman</p>
                        <p style="color: #00000070; font-size: 15px; font-weight: 500;">Vero Beach, USA</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div>