<div class="container">
    <div class="d-flex justify-content-between my-4 py-5">
        <div>
            <p style="font-size: 20px; font-weight: 600;">Location</p>
            <p class="mb-0" style="font-size: 16px; font-weight: 500;">Address:</p>
            <p style="font-size: 13px; font-weight: 400;">1603 Old York Rd,<br>
            Houma, LA, 75429</p>
            
            <p class="mb-0"><span style="font-size: 16px; font-weight: 500;">Phone:</span> <span>(850) 386-7896</span></p>
            <p><span style="font-size: 16px; font-weight: 500;">Fax:</span> <span>(850) 386-7896</span></p>
        </div>
        <div>
            <p style="font-size: 20px; font-weight: 600;">Sitemap</p>
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">About Us</p>
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Departments</p>
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Services</p>    
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Doctors</p>
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Contact Us</p>
        </div>
        <div>
            <p style="font-size: 20px; font-weight: 600;">Blog</p>
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Right Sidebar</p>
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Left Sidebar</p>
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Full Width</p>    
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Blog Grid</p>
            <p class="mb-0" style="font-size: 15px; font-weight: 400;">Blog Details</p>
        </div>
        <div>
            <p style="font-size: 20px; font-weight: 600;">Appointment</p>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit</p>
            <div>
                
            </div>
        </div>
    </div>
</div>