<div>
    <div class="vw-100 d-flex justify-content-center align-items-center" style="height: 250px; background-color: #F2F6F6;">
        <div class="text-center">
            <h2>Appointments</h2>
            <p>Home / Appointment</p>
        </div>
    </div>
    <div class="d-grid grid-1-2 gap30 container py-5">
        <div>
            <div class="border">
                <div class="text-center p-4">
                    <img src="../../../assets/Doctors/doc1.jpg" style="width: 100px; height: 100px;" class="br50 mb-3" alt="">
                    <div>
                        <h4>Dr. Darren Elder</h4>
                        <p class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</p>
                    </div>
                </div>
            </div>
            <div class="border p-3">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined">calendar_month</span>
                    <h5 class="mb-0 mx-3">Appointment</h5>
                </div>
            </div>
        </div>
        <div>
            <div class="border p-3 mb-4" *ngFor="let appointment of appointments">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <img src="{{appointment.img}}" style="width: 120px; height: 120px;" class="" alt="">
                        <div class="mx-3">
                            <h4 class="mb-0" style="font-size: 24px;">{{appointment.name}}</h4>
                            <p class="mb-0 d-flex align-items-center">
                                <span style="font-size: 15px; font-weight: 400;" class="material-symbols-outlined">schedule</span>
                                <span style="font-size: 15px; font-weight: 400;">&nbsp; {{appointment.date | date : "d MMM y, h:mm a"}}</span>
                            </p>
                            <p class="mb-0 d-flex align-items-center">
                                <span style="font-size: 15px; font-weight: 400;" class="material-symbols-outlined">location_on</span>
                                <span style="font-size: 15px; font-weight: 400;">&nbsp; {{appointment.location}}</span>
                            </p>
                            <p class="mb-0 d-flex align-items-center">
                                <span style="font-size: 15px; font-weight: 400;" class="material-symbols-outlined">mail</span>
                                <span style="font-size: 15px; font-weight: 400;">&nbsp; {{appointment.email}}</span>
                            </p>
                            <p class="mb-0 d-flex align-items-center">
                                <span style="font-size: 15px; font-weight: 400;" class="material-symbols-outlined">call</span>
                                <span style="font-size: 15px; font-weight: 400;">&nbsp; {{appointment.phone}}</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success mx-1">
                            <p style="font-size: 17px;" class="mb-0 d-flex align-items-center">
                                <span class="material-symbols-outlined" style="font-size: 22px;">check</span>
                                Accept
                            </p>
                        </button>
                        <button class="btn btn-danger mx-1">
                            <p style="font-size: 17px;" class="mb-0 d-flex align-items-center">
                                <span class="material-symbols-outlined" style="font-size: 22px;">close</span>
                                Cancel
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>