<div>
    <div class="vh-80 bg-primary d-flex align-items-center">
        <div class="container d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <div>
                    <h1><b>Clean Medical Template</b></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        <br> 
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="mt-4">
                        <button class="br0 btn btn-primary px-4 py-2">
                            <h5 class="mb-0">Consult</h5>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <img src="../../../assets/hero/hero.png" alt="">
            </div>
        </div>
    </div>
</div>